### --- IDE Configurations --- ###
.idea/
.classpath
.project
*.iml

### --- Build Artifacts (Java) --- ###
bin/
out/
*.class
*.jar 
### --- Local Database Sessions & Logs --- ###
*_DB.session.sql
*.log

### --- Temporary & Large Data Files --- ###
downloads/
data/

.github/

ChatSystem/database/db.properties


